<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Baidu</key>
	<dict>
		<key>appKey</key>
		<string>1</string>
		<key>appSecret</key>
		<string>2</string>
		<key>callbackUrl</key>
		<string></string>
	</dict>
	<key>Box</key>
	<dict>
		<key>appKey</key>
		<string></string>
		<key>appSecret</key>
		<string></string>
		<key>callbackUrl</key>
		<string></string>
	</dict>
	<key>DropBox</key>
	<dict>
		<key>appKey</key>
		<string></string>
		<key>appSecret</key>
		<string></string>
		<key>callbackUrl</key>
		<string></string>
	</dict>
	<key>pCloud</key>
	<dict>
		<key>appKey</key>
		<string></string>
		<key>appSecret</key>
		<string></string>
		<key>callbackUrl</key>
		<string></string>
	</dict>
	<key>OneDrive</key>
	<dict>
		<key>appKey</key>
		<string></string>
		<key>appSecret</key>
		<string></string>
		<key>callbackUrl</key>
		<string></string>
	</dict>
	<key>GoogleDrive</key>
	<dict>
		<key>appKey</key>
		<string></string>
		<key>appSecret</key>
		<string></string>
		<key>callbackUrl</key>
		<string></string>
	</dict>
</dict>
</plist>
